body {
    background-color: lavender;
    margin: auto;
}

h2 {
    font-size: 36px;
    color: midnightblue;
    text-align: center;
    
}

p {
    font-size: 24px;
    color: midnightblue;
    font-style: italic;
    text-align: left;
}